<h1>Edit</h1>

<%= form_for(@invite, :url => {:controller => "invite",:action => "update"}) do |f| %>
  
    <%= render 'edit_fields', :f => f %>
    <div class="actions">
    	<%= f.submit "Save", :class => 'btn primary customform', :id => 'commitinvite', :style =>"display:none;" %>
        <a onclick="validateinvite();" class="btn primary customform" >Save</a>
        <a href="<%= invite_index_path %>" class="btn secondary " >Cancel</a>
    </div>
<% end %>