<h1>Stats</h1>

<div class="survey-search-div" >
	<input type="text" id="simple_autocomplete_comp" class="simple_autocomplete_comp" data-url="<%= invite_survey_search_path %>" value="" data-ac-type="simple" style="width:300px;" autocomplete="off" />
	<input type="text" id="sac_data" class="sac_data" style="display:none;" autocomplete="off" />

	<a onclick="getstats(j$('#stats_results'), j$('#sac_data').val(), '<%= invite_stats_data_path %>')" class="btn secondary" >Search</a>
</div>

<h4 id="stats_results_header" style="display:none;" >Search Results : </h4>
<div id="stats_results" style="display:table; height:200px;" ></div>

<!-- div style="display:table;">
<ul class="nav nav-tabs nav-stacked" >
< % @ surveys.each do |i| %>
	<li><a onclick="getstats(this,'< % = i.Id %>')">< %= i.Name %></a></li>
< % end %>
</ul>
</div -->