.line_head_h3{
	color: #666666;
}

.line-wrap {
	margin: 15px 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px;
}

.question_wrap, .scontrol_wrap {
	padding: 15px; 
	display:block; 
	color:#1E1E1E;
}

.question_wrap label.q_text{
	width: 100%;
	text-align:left;
	line-height: 150%;
	color: #333333;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.question_wrap input[type=text]{
	color: #666666;
    font-size: 14px;
    width: 400px;
}

.question_wrap input {
	padding: 5px;
}

.question_wrap input:focus {
    background: #E2F6F9;   
}

ul.a_list{
	list-style:none;
	margin-left: 5px !important;

}
.pagination a {
	cursor:pointer;
}

#survey_review span, #survey_review ul{
	color: #808080;
    line-height: 18px;
}

#survey_review li {
	list-style: none;
}

#survey_review ul {
	margin-left:0px;
}

#survey_review h4 {
	font-size:110%;
}

.rev_q_wrap {
	padding: 10px; 
	display:block; 
	color:#1E1E1E;
}

.submit_block{
	display:block;
	padding: 20px 0px;
}

.a_text {
	padding: 7px 10px;
	border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    width:400px;
    display:block;
}

#progressbar {
	width: 100%; 
	height:25px; 
	text-align:center; 
	border: 1px solid #CCCCCC; 
	border-radius: 3px 3px 3px 3px;
	margin: 10px auto;
	display:block;
}

#progress {
	background-color:#93BF35; 
	height:100%;
	
}

#progressbar .text {
	display:inline-block; 
	line-height:25px; 
}

#autosaved {
	height: 15px;
	display:block;
}


