<div class="" style="padding:2% 0;">
  <img src="images/ucsfmedlogo.png" height="35px" style="margin-bottom:3.1%;"/>
  <img src="images/UCSF_childrens_hospital_logo.gif"/>
</div>

<div class="hero-unit" style="border-top: 2px solid #005ABB;">
  <h1>Survey Tool</h1>
  <table>
    <tr>
      <td>

        <p>This is the home page for UCSF Medical Center Survey Tool</p>
      </td>
      <td>
        <% if !signed_in? %>
          <%= link_to "Sign in", signin_path, :class => "btn primary large" %>
        <% end%>
      </td>
    </tr>
  </table>
</div>


