<div class="" style="padding:2% 0;">
  <img src="images/ucsfmedlogo.png"/>
</div>

<div class="hero-unit" style="border-top: 2px solid #005ABB;">
  <h1>Survey App</h1>
  <table>
    <tr>
      <td>

        <p>This is the home page for the Survey App</p>
      </td>
      <td>
        <% if !signed_in? %>
          <%= link_to "NPI Sign in", signin_path, :class => "btn primary large" %>
        <% end%>
      </td>
    </tr>
  </table>
</div>


