<%= widget_div do %>

<table>
	<thead>
		<tr>
			<td>Action</td>
			<td>Name</td>
			<td>Status</td>
		</tr>
	</thead>
	<% @invites.each do |invite| %>

		<tbody>
			<tr>
				<td><a href="<%= invite.Survey__c%>/show"  > Start </a></td>
				<td><%= invite.Survey_Name__c %> </td>
				<td><%= invite.Status__c %></td>
			</tr>
		</tbody>

	<% end %>
</table>

<% end %>
