<h1>My Surveys</h1>

<script type="text/javascript">
	var j$ = jQuery.noConflict();

/*	function surveyinvite(inviteid){
		alert('surveyinvite, id = '+ inviteid);
		j$.post("/surveys/surveyinvite", inviteid);
	}
*/

</script>

<%= render_widget :surveylist %>
